@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e9e8e4;
  --text-color: #171717;
}

[data-theme='dark'] {
  --background: #0a0a0a;
  --text-color: #e0e6f2;
}

html,
body {
  @apply dark:text-tinWhite dark:bg-customBlack;
  background-color: var(--background);
  color: var(--text-color);
  transition: all 0.3s ease;
  /* overflow: hidden; */
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px);
  }


  .content-ref::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
    display: none;
  }

  .content-ref::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
    border: 3px solid rgba(0,0,0,0.1);
  }

  .content-ref::-webkit-scrollbar-thumb:hover {
    background-color: #262626;
  }

  .modal-content {
    background-color: #262626;
    padding: 20px;
    border-radius: 5px;
    width: 35%;
    height: 80%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .tag-dropdown {
    scroll-behavior: smooth;
    scrollbar-color: #555 transparent;
  }

  /* .feed-container::-webkit-scrollbar {
    background-color: #262626;
    width: 5px;
    display: none;
  } */

  /* .post-layout::-webkit-scrollbar {
    display: none;
  } */


  .interest-dropdown::-webkit-scrollbar {
    background-color: #262626;
    width: 10px;
  }

  .interest-dropdown::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 10px;
  }

  /* Text editor styles starts*/
 .custom-editor {
   background-color: #262626;
 }

 .custom-editor .rc-md-editor,
 .custom-editor .rc-md-editor .section-container,
 .custom-editor .rc-md-editor .editor-container,
 .custom-editor .rc-md-editor textarea {
   background-color: #262626 !important;
   color: #e2e8f0 !important;
   border: none;
   scrollbar-width: thin;
   scrollbar-color: #888 transparent;
   position: relative;
   scroll-behavior: smooth;
   border-radius: 10px;
 }


 .custom-editor .rc-md-editor .editor-container .sec-md .input {
   font-size: 18px;
 }

 .custom-editor .rc-md-editor .editor-container .sec-md .input::placeholder {
   color: #999;
   font-style: italic;
   font-size: 14px;
 }
 

 .custom-editor .rc-md-editor .rc-md-navigation {
   background-color: #262626;
   border: none;
   border-bottom: 1px solid #555;
   /* position: fixed;
   top: 258px;
   left: 245px;
   z-index: 99;
   width: 110px; */
   padding: 10px;
   /* border-radius: 10px; */
 }

 .custom-editor .rc-md-editor .rc-md-navigation:hover {
  background-color: #555;
 }

 .custom-editor .rc-md-editor textarea {
   opacity: 1 !important;
 }

 .prose {
  max-width: 65ch;
  margin: 0 auto;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
}

.prose p {
  margin-bottom: 1.25em;
  line-height: 1.6;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.prose pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.prose code {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
};

/*Text editor styles end*/

/*FullPostView styles*/

 .full-post-container {
   max-width: 800px;
   margin: 0 auto;
   padding: 20px;
 }

 .post-metadata {
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
   color: #666;
 }

 .post-content {
   line-height: 1.6;
   margin-bottom: 20px;
 }

 .feed-container {
   position: relative;
   /* overflow-x: hidden; */
 }

 .feed-content {
   transition: transform 0.3s ease-in-out;
   transform: translateY(0);
 }

 .feed-content.search-visible {
   transform: translateY(5px);
 }
    

 /*FullPostView styles end*/

 /* Like animaion*/

 @keyframes likeAnimation {
   0% {
     transform: scale(0);
     opacity: 1;
   }

   100% {
     transform: scale(1.5);
     opacity: 0;
   }
 }

 .like-button {
   overflow: hidden;
 }

 .like-animation {
   pointer-events: none;
   background: radial-gradient(circle, rgba(255, 0, 0, 0.8) 0%, rgba(255, 0, 0, 0) 70%);
   border-radius: 50%;
   transform: scale(0);
   opacity: 0;
 }

 .like-button.animating .like-animation {
   animation: likeAnimation 0.5s ease-out;
 }

 /* Like animation end*/
 
 /* Analytics style starts*/
 .like-history-container::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
 }

 .like-history-container::-webkit-scrollbar-thumb {
   background-color: #666;
   border-radius: 10px;
 }

 /* Analytics styles end*/

 /* Feeds page for tabs*/
 .grid-style {
  display: grid;
  grid-template-columns: 250px 1fr;
 }

 .grid-style2 {
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  gap: 10px;
 }

 .grid-style3 {
  display: grid;
    grid-template-columns: 350px 1fr 550px;
    gap: 15px;
 }

 .grid-style4 {
  display: grid;
    grid-template-columns: 350px 1fr 400px;
    gap: 10px;
 }

 /* Feeds page for tabs end*/

 .profile-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
 }

 .profile-details {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
 }

 /* Skeletons*/

 .skeleton {
   background: rgba(38, 38, 38, 1);
   margin: 10px 0;
   border-radius: 4px;
   position: relative;
   overflow: hidden;
 }

 .skeleton.text {
   width: 90%;
   height: 16px;
 }

 .skeleton.title {
   width: 30%;
   height: 30px;
   margin-bottom: 8px;
 }

 .skeleton.avatar {
   width: 20px;
   height: 20px;
   border-radius: 50%;
 }

    .shimmer-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      animation: loading 2.0s infinite;
    }
  
    .shimmer {
      width: 50%;
      height: 100%;
      background: rgba(255, 255, 255, 0.01);
      transform: skewX(-20deg);
      box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.05);
    }

        @keyframes loading {
          0% {
            transform: translateX(-150%)
          }
    
          50% {
            transform: translateX(-60%)
          }
    
          100% {
            transform: translateX(150%)
          }
        }

        /* Custom pull to refresh styles*/
                .loading-dots {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
        
                .loading-dots span {
                  width: 3px;
                  height: 3px;
                  margin: 0 2px;
                  background-color: currentColor;
                  border-radius: 50%;
                  display: inline-block;
                  animation: dots 1s infinite ease-in-out both;
                }
        
                .loading-dots span:nth-child(1) {
                  animation-delay: -0.32s;
                }
        
                .loading-dots span:nth-child(2) {
                  animation-delay: -0.16s;
                }
        
                @keyframes dots {
        
                  0%,
                  80%,
                  100% {
                    transform: scale(0);
                  }
        
                  40% {
                    transform: scale(1);
                  }
                }

   /* Custom pull to refresh styles ends*/

}